.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#user-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-header{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#form-header > span{
  font-size: larger;
  font-weight: 600;
}

#user-form{
  display: flex;
  flex-direction: column;

  min-width: 30vw;
}

#user-form > label{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.error-msg{
  color: red;
  font-weight: 700;
}

.success-msg{
  color: green
}

#success-container{
  display: flex;
  flex-direction: column;
}

#submit-btn{
  width: 70%;
  align-self: center;

  cursor: pointer;
}